doctype html 
html
    head 
        meta(charset="utf-8")
        title Websites4Sale 
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Roboto&display=swap" rel="stylesheet")
        link(href="css/main" id="mainStylesheet" rel="stylesheet" type="text/css")
    body
        include navbar.pug
        h2(style="margin-top:150px;") Schedule a Meet to Start Your Project Now 
        h3 There was an issue scheduling your meet. Please try again later.
        
        script(src="https://kit.fontawesome.com/224f862d86.js" crossorigin="anonymous")
        script(src="js/main.js" defer)