nav 
    section(id="banner")
    ul 
        li 
            h1 Websites4Sale
        li 
            button(onclick="toggleDarkMode()" id="darkToggle")
                i(class="fa-solid fa-sun")
        li
            a(href="/main") Home 
        li 
            a(href="/testimonies") Testimonials
        li 
            a(href="/contact") Contact Us
        li 
            a(href="../admin/contactlog") Contacts Log