doctype html 
html
    head 
        meta(charset="utf-8")
        title Websites4Sale 
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Roboto&display=swap" rel="stylesheet")
        link(href="css/main" id="mainStylesheet" rel="stylesheet" type="text/css")
    body 
        nav 
            section(id="banner")
            ul 
                li 
                    h1 Websites4Sale
                li 
                    button(onclick="toggleDarkMode()" id="darkToggle")
                        i(class="fa-solid fa-sun")
                li
                    a(href="/main") Home 
                li 
                    a(href="/testimonies") Testimonials
                li 
                    a(href="/contact") Contact Us
                li 
                    a(href="../admin/contactlog") Contacts Log
        h2(style="margin-top: 150px") Review Video 
        iframe(src="https://www.youtube.com/embed/HzeK7g8cD0Y?si=OKWjs4ciUeurm8f6" title="YouTube video player" style="border:none;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)
        h3 Don't take it from us 
        h4 Read our customer testimonials!
        section#reviews 
            div(class="review")
                p(class="review-body") Wow. Very good. Made good website. Cool stuff.  More content. More content. More content. More content. More content. More content. More content. More content. More content. More content. More content.</p>
                p(class="reviewer-name") Totally Real Reviewer 
                    br
                | &#9733; &#9733; &#9733; &#9733; &#9733;
                
            div(class="review")
                p(class="review-body") I like this company. The CEO Brennan is my favorite. More content. More content. More content. More content. More content. More content. More content. More content. More content. More content. More content.</p>
                p(class="reviewer-name") Totally Real Reviewer No. 2
                    br
                | &#9733; &#9733; &#9733; &#9733; &#9734;</p>
            div(class="review")
                p(class="review-body") This company sucks. Did not deliver any website, just stole my money. Will be suing. More content. More content. More content. More content. More content. More content. More content. More content. More content. More content. More content.</p>
                p(class="reviewer-name") John Adams
                    br
                | &#9733; &#9734; &#9734; &#9734; &#9734;</p>
            div(class="review")
                p(class="review-body") Maybe the best web company on the entire web. Lol. More content. More content. More content. More content. More content. More content. More content. More content. More content. More content. More content.</p>
                p(class="reviewer-name") Totally Real Reviewer No. 3
                    br
                | &#9733; &#9733; &#9733; &#9733; &#9733;</p>
            div(class="review")
                p(class="review-body") Really blew my socks off. One question, why does my website just redirect <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">here?</a> More content. More content. More content. More content. More content. More content. More content. More content. More content. More content. More content.</p>
                p(class="reviewer-name") Totally Real Reviewer No. 4
                    br
                | &#9733; &#9733; &#9733; &#9733; &#9733;</p>
            div(class="review")
                p(class="review-body") ffuts looC .etisbew doog edaM .doog yreV .woW .tnetnoc eroM .tnetnoc eroM .tnetnoc eroM .tnetnoc eroM .tnetnoc eroM .tnetnoc eroM .tnetnoc eroM .tnetnoc eroM .tnetnoc eroM .tnetnoc eroM .tnetnoc eroM .tnetnoc eroM .tnetnoc eroM .tnetnoc eroM .tnetnoc eroM</p>
                p(class="reviewer-name") 5 .oN reweiveR laeR yllatoT
                    br
                | &#9733; &#9733; &#9733; &#9733; &#9734;</p>
            div(class="review")
                p(class="review-body") Ran out of ideas with this one. Just pretend that it's a good review. More content. More content. More content. More content. More content. More content. More content. More content. More content. More content. More content.</p>
                p(class="reviewer-name") Totally Real Reviewer No. 6
                    br
                | &#9733; &#9733; &#9733; &#9733; &#9733;</p>
            </div>
        
        
        script(src="https://kit.fontawesome.com/224f862d86.js" crossorigin="anonymous")
        script(src="js/main.js" defer)